# Virtual environments
.venv/
venv/
env/

# UV cache
.uv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Data
whisper_refined*
data*
tmp*
parquet*
slides*
LangAgeDataSet*
Dataset2LogMelSpec*
transcripts*
FrisperWhisper*

# Logs
logs/
*.log
*.out
*.err

# testin
develop*
results/
